@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.navbar{
    background-color: rgb(27, 23, 23);
    display: flex;
    height: 60px;
}

.navbar-logo {
    padding: 12px 44px;
}

.navbar__logo{
    display: flex;
    align-items: center;
    font-size: 29px;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.u-pull-right {
    display: flex;
    position: absolute;
    right: 24px;
    top: 18px;
}

.username {
    color: rgb(177, 176, 176);
    cursor: pointer;
    padding: 5px 32px;
}

.logout{
    background-color: rgb(119, 158, 41);
    border-radius: 5px;
    padding: 5px 15px;
}

.logout a{
    color: white;
    font-weight: 500;
    text-decoration: none;
}


.sidenav {
    height: 100%;
    width: 225px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: rgba(58, 31, 31, 0.637);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav__menuitem{
    cursor: pointer;
    padding: 7px 46px;
}

.menuColor{
    color: rgb(208, 224, 226);
}

.menuColor:hover{
    color: rgb(255, 255, 255);
}

.sidenav_submenu{
    padding: 4px 10px;
    list-style: none;
}

.sidenav_newPost{
    margin-left: 26px;
    margin-bottom: 25px;
    list-style: none;
}

.newPost{
    padding: 6px 43px;
    background-color: rgb(202, 13, 13);
    border-radius: 20px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.main-body {
    position: fixed;
    width: 100%;
    left: 225px;
}

.posts_control-menu{
    height: 71px;
}

.posts_control-list {
    margin-bottom: 20px;
    padding-left: 40px;
    padding-top: 23px;
}

.posts_control {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 600;
}

.user_posts{
    list-style: none;
    height: 50px;
    display: flex;
    margin-top: 5px;
}

.user_posts a{
    color: rgb(145, 126, 126);
    text-decoration: none;
}

.user_posts input {
    margin-left: 41px;
    margin-right: 10px;
    margin-top: 3px;
}

.posts_control_right{
    position: absolute;
    right: 245px;
    font-size: 13px;
    color: rgb(116, 88, 88);
}

.posts_control_right h1{
    position: absolute;
    right: 0px;
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}

.right_column{
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
}

.newpost_form{
    position: absolute;
    top: 300px;
    left: 250px;
}


/*

    Author: Rohit Tiwari
    Created: 14 July 09:33 AM

*/